## RabbitMQ
RabbitMq__Host=localhost
RabbitMq__Port=5672
RabbitMq__VirtualHost=/
RabbitMq__Username=guest
RabbitMq__Password=guest
RabbitMq__UseSsl=false

## HubSpot
HubSpot__BaseUrl=https://api.hubapi.com
HubSpot__ApiKey=

## OpenTelemetry
Otlp__Enabled=false
Otlp__Endpoint=http://localhost:4317
