## RabbitMQ
RabbitMq__Host=localhost
RabbitMq__Port=5672
RabbitMq__VirtualHost=/
RabbitMq__Username=guest
RabbitMq__Password=guest
RabbitMq__UseSsl=false

## HubSpot (tokens por país: CR=5, SV=7, GT=10, MX=12)
HubSpot__BaseUrl=https://api.hubapi.com
HubSpot__AccessTokens__5=
HubSpot__AccessTokens__7=
HubSpot__AccessTokens__10=
HubSpot__AccessTokens__12=

## OpenTelemetry
Otlp__Enabled=false
Otlp__Endpoint=http://localhost:4317
